# Maven
# Ignore the target directory, which contains compiled code and packaged JARs
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Spring Boot specific
HELP.md

# IntelliJ IDEA
# Ignore IDE-specific settings files
.idea/
*.iml
*.iws
*.ipr

# Log files
*.log

# Operating System files
.DS_Store
Thumbs.db

application.properties